<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF8">
    <title>
        {% block title%}
            Ежедневник
        {% endblock %}
    </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Мой Ежедневник</h5>
                <a href="{% url 'post_create_url'%}" class="btn btn-primary">Создать заметку</a>
            </div>
        </div>
    {% block content %}
    {% endblock %}
</body>
</html>